<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b4_downstairs.akash_madhu.navigationdrawe1">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LogoPage"
            android:theme="@style/NoActionBar_EVER">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Slide_show"
            android:theme="@style/NoActionBar_EVER" />
        <activity android:name=".Calculate_Month" />
        <activity android:name=".about_us" />
        <activity
            android:name=".GENDER"
            android:theme="@style/NoActionBar_EVER">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Male" />
        <activity android:name=".mfemale" />
        <activity android:name=".account_info_male" />
        <activity android:name=".acountinfo_female" />
        <activity android:name=".kno_gneder" />
        <activity android:name=".conactUSS"></activity>
    </application>

</manifest>